<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>
</head>
<body>

    <header>
        <%- include("nav")%>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>Ich bin der Footer</p>
    </footer>
</body>
</html>