<form method="post">
    <label for="textInput">Dein Username</label>
    <input id="textInput" type="text" name="username" placeholder="Dein Username"/>
    <br/>
    <label for="textInputPassword">Dein Password</label>
    <input id="textInputPassword" type="password" name="password" placeholder="Dein Password"/>
    <br/>
    <button type="submit" value="sent">Abschicken</button>
</form>