<ul>
    <li><a href="http://localhost:3000">Start</a></li>
    <li><a href="http://localhost:3000/profil">Profil</a></li>
    <li><a href="http://localhost:3000/profil/userdata">Userdata</a></li>
    <li><a href="http://localhost:3000/books">Bücher</a></li>
</ul>