<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <% console.log("Hallo") %>
    <h1>Hallo Willkommen, was geht <%=locals.name%> <%=locals.nachname%></h1>
</body>
</html>